.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}


.inner {
  padding: 2rem 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.inner-login {
  border: 2px solid lightgray;
}
